<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>EffectsJS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="header__top_left">
                    <ul>
                        <li><i class="fa fa-envelope"></i> effectsjsproyect@gmail.com </li>
                    </ul>
                </div>
                <nav>
                    <div class="logo">
                        <a href="/">Logo EffectsJS</a>
                    </div>
                    <ul class="nav-links">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="about.html">Sobre nosotros</a></li>
                        <li><a href="services.html">Servicios</a></li>
                        <li><a href="contect.html">Contacto</a></li>
                    </ul>
                    <div class="burger">
                        <div class="line1>"></div>
                        <div class="line2>"></div>
                        <div class="line3>"></div>
                    </div>
                </nav>
                <div class="header__top_right">
                    <div class="header__top__right__social">
                        <a href="https://github.com/Jasusmet"><i class="fa-brands fa-github"></i></a>
                        <a href="https://github.com/franvr13"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/jes%C3%BAs-clemente-p%C3%A9rez/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.linkedin.com/in/franciscovillalbarold%C3%A1n/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script src="script.js"></script>
</body>
</html>